<div class="panel panel-primary">
    <div class="panel-heading">
        <h1> Hello {{user}}, you're age in a year is {{ age + 1 + "1" }} </h1>
    </div>

    <!-- <div class="panel-heading">
        <h1> Here's your list of planets: {{planets}} </h1>
    </div> -->


    <div class = "panel-body">

        <div class = "row">
            <div class = 'col-md-2'>Filter By: </div>
            <div class="'col-md-4">
                
                <input type="text" [(ngModel)] = "inputField" placeholder="Put filter values here!">

                <!-- <input type="text">
                <button (click)="inputField"></button> -->

            </div>
        </div>
    </div>


    <div class = "table-responsive">

        <button class="btn btn-primary" (click)="toggleTable()"> <!--Event binding uses () -->
            {{showTable? 'Hide Table':'Show Table'}}

        </button>

        <table class = "table" *ngIf = 'showTable'>
            <thead>
                <th>Image</th>
                <th>Name</th>
                <th>Livibility Score</th>
            </thead>
            <tbody>
                <tr *ngFor = 'let p of filteredPlanets'>
                    <td>
                        <img [src] = "p.image"
                        [alt] = "p.name"
                        [style.width.px] = 'imageWidth' 
                        [style.margin.px] = 'imageMargin'
                        > <!-- Property binding uses []-->
                    </td>
                    <td>
                        {{p.name}}
                    </td>
                    <td>
                        {{p.livibility}}
                    </td>
                </tr>
                
                

            </tbody>
        </table>

    </div>

</div>
